body {
    background-color: rgb(255, 255, 255);
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 200%;
}

.titleInputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #1b1a1a;
    padding-left: 40px;
    padding-right: 40px;
}

.titleInputListContainer {
    max-width: 1024px;
    margin: 0 auto;
    background-color: #1b1a1a;
    /* Above code sets items in the middle */
}

.title {
    color: white;

}

.form {
    display: flex;
    color: rgb(255, 255, 255);
    gap: 30px;
    height: 40px;
}

.inputItem {
    font-size: large;
    width: 400px;
    height: 40px;
    border-radius: 20px;
    padding-left: 20px;
}

.liCheckbox {
    height: 30px;
    width: 30px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #1b1a1a;
}

.removeBtn {
    width: 150px;
    height: auto;
    font-size: 70%;
    background-color: #1b1a1a;
    color: white;
    border-radius: 20px;
}

.removeBtn:hover {
    transform: translateY(-3px);
    background-color: rgb(172, 3, 3);
    transition: all .4s;
}

.addBtn {
    background-color: rgba(0, 191, 255, 0.963);
    font-size: 70%;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 20px;

}

.addBtn:hover {
    transform: translateY(-3px);
    background-color: rgba(232, 218, 140, 0.925);
    transition: all .4s;
}


.ListItem {
    display: grid;
    grid-template-columns: 1fr 6fr 2fr;
    align-items: center;
    justify-content: center;
    height: 32px;
    margin-bottom: 10px;
    margin-right: 40px;
    border-radius: 3px;
    background-color: #fff;
    padding: 20px;
}

@media (max-width: 769px) {

    .inputItem {
        width: 200px;
    }

    .ListItem {
        font-size: 65%;
    }

    .removeBtn {
        width: 100px;
    }
}